body {
    /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
    margin: 0;
}

#body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainContent {
    display: flex;
    background-color: gray;
    flex-wrap: wrap;
    width: 496px;
    height: 256px;
    margin-top: 15%;
}

.tile {
    width: 16px;
    height: 16px;
}

br {
    font-size: 0;
}
